PORT=
# NEST_DEBUG=

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=

DATABASE_URL=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

REDIS_URL=
CACHE_TTL=

IP_WHITELIST=